/* reset margin */
/* loại bỏ khoảng cách viền mặc định của margin */
body {
    margin: 0 !important;
    padding: 0 !important;
}
/* .red { 
    border: 1px solid red;
}
.green {
    border: 1px solid green;
}  */
.banner {
    background-image: url('./banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:500px;
    
    padding: 20px;
   
}

.about-sign-in {
   height: 80px;
   width:100%;
   text-align:right;
}
.about , .sign-in {
    text-decoration: none;
    margin-top: 20px;
    padding: 7px 15px;
    display: inline-block;
    text-transform: uppercase;
}

.sign-in {
    margin-right:60px;
    margin-left: 25px;
    border: 1px solid green;
    border-radius: 20px;
}

.logo {
    background-image: url('./hapoERP.png');
  
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
    height: 100px;
   
}

/* .banner .icon-and-text {
    margin-bottom: 53px;
}
.justify-content-between {
    
    justify-content: space-between!important;
}


.text-center {
    text-align: center!important;
}
.ml-4, .mx-4 {
    margin-left: 1.5rem!important;
}
.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-2 {
    
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.mr-4, .mx-4 {
    margin-right: 1.5rem!important;
}

.banner .icon-and-text span {
    height: 48px;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -0.07px;
    line-height: 48px;
}

.d-block {
    display: block!important;
}
 */

.text {
    text-align: center;
    margin-top: 30px;
}
.btn-start-now {
    text-align: center;
}

button {
    text-transform: uppercase;
    padding:10px 15px;
    border-radius: 20px;
    border:1px solid green;
    margin-top: 25px;
    cursor: pointer;
}


.left, .right, .center {
    display: inline-block;
    width: 33%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

 span {
    display: block;
    font-size: 20px;
}

img {
    width: 30px;
    height: 30px;
}